/* .buttonLeft{
    display: inline-block;
    width: 60px;
    color:orange;
    background-color: transparent;
    border: 0px;
    }

.buttonLeft::before {
    content: "";
    display: block;
    padding-top: 86%;
    background: currentColor;
    clip-path: polygon(0 0, 100% 50%, 0 100%);
    }

.buttonRight{
    display: inline-block;
    width: 60px;
    color:orange;
    background-color: transparent;
    border: 0px;
    }

.buttonRight::before {
    content: "";
    display: block;
    padding-top: 86%;
    background: currentColor;
    clip-path: polygon(100% 100%, 100% 0, 0 50%);
    } */

.Button{
    width: 60px;
    height: 60px;
    border: 0;
    background-color: transparent;
    align-self: self-start;
}
.Logo{
    width: 60px;
    height: 60px;
    background-color: transparent;
    filter: invert(100%) sepia(0%) saturate(1589%) hue-rotate(166deg) brightness(107%) contrast(70%);
    /* transform: scale(3); */
}